<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="963c9252610859f4391ba52bd88c9ed4c8a246dd" />
    <meta name="google-site-verification" content="hxia-T9cKZR36EItcL1XVnYqDWjWvO8ZUJQVOTkN34g" />
    {% block meta %}
    <!-- 하위 템플릿 메타데이터 -->
    {% endblock %}

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7NNKCBKB4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Q7NNKCBKB4');
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>

<body>
    <header>
        <nav>
            <a class="" href="/">네이버 블로그 목차 생성기</a>
            <a class="" href="/ps">알고리즘 문제풀이 블로그 자동 서식</a>
            <a class="secondary" href="https://litt.ly/seondal">이 사이트 만든 사람</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- 하위 템플릿 본문 -->
        {% endblock %}
    </main>
</body>

</html>