<!DOCTYPE html>
<html lang="en">
<script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7NNKCBKB4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Q7NNKCBKB4');
</script>
<script defer src="/_vercel/insights/script.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <meta name="description" content="포스팅 링크를 넣으면 해당 포스팅에 쓰인 소제목을 추출해서 목차를 만들어드려요">
    <meta property="og:title" content="네이버 블로그 목차 자동 생성기">
    <meta property="og:description" content="포스팅 링크를 넣으면 해당 포스팅에 쓰인 소제목을 추출해서 목차를 만들어드려요">
    <meta name="naver-site-verification" content="ce4aa68b4de1e14ccbf750c3c46d667a954f2ed5" />
    <meta name="google-site-verification" content="hxia-T9cKZR36EItcL1XVnYqDWjWvO8ZUJQVOTkN34g" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        <!-- 하위 템플릿이 여기에 삽입됨 -->
        {% endblock %}
    </main>
</body>

<footer>
    <a href="https://litt.ly/seondal">이 사이트 만든 사람</a>
</footer>

{% block scripts %}
{% endblock %}

</html>