{% extends 'base.html' %}

{% block content %}
<form action="/">
    <input type="text" name="link" placeholder="{{link}}" id="blogInput" />
    <button>검색</button>
</form>
<hr />
<div>
    <h5>목차</h5>
    <div id="content">
        {% for title in data %}
        <div>{{title}}</div>
        {% endfor %}
    </div>
</div>
<br />
<button id="copy">복사하기</button>
{% endblock %}

{% block scripts %}
<script>
    const content = document.getElementById("content");
    document.getElementById("copy").onclick = () => {
        window.navigator.clipboard.writeText(content.textContent).then(() => {
            alert("복사완료");
        });
    };
</script>
{% endblock %}