<!DOCTYPE html>
<html lang="en">
<script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네이버 블로그 목차 자동 생성기</title>
    <meta name="description" content="포스팅 링크를 넣으면 해당 포스팅에 쓰인 소제목을 추출해서 목차를 만들어드려요">
    <meta property="og:title" content="네이버 블로그 목차 자동 생성기">
    <meta property="og:description" content="포스팅 링크를 넣으면 해당 포스팅에 쓰인 소제목을 추출해서 목차를 만들어드려요">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>네이버 블로그 목차 자동 생성기</h1>
        <h5>링크를 입력하면 해당 포스팅에 쓰인 소제목들을 추출합니다.</h5>
        <form action="/">
            <input type="text" name="link" placeholder="원하는 블로그 글의 URL을 입력하세요 (전체공개 포스팅만 가능합니다)" />
            <button>검색</button>
        </form>
    </main>
</body>

<footer>
    <a href="https://toss.me/seondal">이 사이트 만든 사람</a>
</footer>

</html>