{% extends 'base.html' %}

{% block meta %}
<title>알고리즘 문제풀이 블로그 자동 서식</title>
<meta name="description" content="프로그래머스/백준 문제 링크를 입력하면 블로그 서식에 맞게 만들어드려요">
<meta property="og:title" content="알고리즘 문제풀이 블로그 자동 서식">
<meta property="og:description" content="프로그래머스/백준 문제 링크를 입력하면 블로그 서식에 맞게 만들어드려요">
{% endblock %}

{% block content %}
<h1>알고리즘 문제풀이 블로그 자동 서식</h1>
<h5>프로그래머스/백준 문제 링크를 입력하면 블로그 서식에 맞게 만들어드려요</h5>
<form action="/ps">
    <input type="text" name="link" required placeholder="프로그래머스/백준 문제 링크 입력" />
    <button>검색</button>
</form>
<hr />

{% if data %}
<button onclick="copyHTML()">복사하기</button>

<div id="content">
    <h3>{{data.blog_title}}</h3>
    <div>{{data.link}}</div>
    <h2>문제</h2>

    {% if data.type == 'programmers'%}
    <div>
        {% for line in data.content %}
        <p>{{line}}</p>
        {% endfor %}
    </div>
    {% elif data.type == 'boj' %}
    <p>{{ data.content | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    {% if 'input' in data %}
    <h2>입력</h2>
    <p>{{ data.input | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    {% if 'output' in data %}
    <h2>출력</h2>
    <p>{{ data.output | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    <br />
    <h2>풀이</h2>
</div>
{% endif %}

{% endblock %}