{% extends 'base.html' %}

{% block meta %}
<title>알고리즘 문제풀이 블로그 자동화</title>
<meta name="description" content="알고리즘 문제 링크(프로그래머스, 백준)를 입력하면 자동으로 블로그 서식을 써드려요">
<meta property="og:title" content="알고리즘 문제풀이 블로그 자동화">
<meta property="og:description" content="알고리즘 문제 링크(프로그래머스, 백준)를 입력하면 자동으로 블로그 서식을 써드려요">
{% endblock %}

{% block content %}
<h1>알고리즘 문제풀이 블로그 자동화</h1>
<h5>프로그래머스/백준 문제 링크를 입력하면 블로그 서식에 맞게 만들어드립니다</h5>
<form action="/ps">
    <input type="text" name="link" required placeholder="프로그래머스/백준 문제 링크" />
    <button>검색</button>
</form>
<hr />

{% if data %}
<div id="content">
    <h3>{{data.blog_title}}</h3>
    <div>{{data.link}}</div>
    <h2>문제</h2>

    {% if data.type == 'programmers'%}
    <div>
        {% for line in data.content %}
        <p>{{line}}</p>
        {% endfor %}
    </div>
    {% elif data.type == 'boj' %}
    <p>{{ data.content | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    {% if 'input' in data %}
    <h2>입력</h2>
    <p>{{ data.input | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    {% if 'output' in data %}
    <h2>출력</h2>
    <p>{{ data.output | replace('\n', '<br>') | safe }}</p>
    {% endif %}

    <br />
    <h2>풀이</h2>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7NNKCBKB4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Q7NNKCBKB4');
</script>
<script defer src="/_vercel/insights/script.js"></script>

{% endblock %}